In [5]:
%pip install pandas
%pip install requests  # Corrigido para 'requests'
%pip install lxml
!pip install requests



import pandas as pd
import requests

# URL da página com as tabelas
url = 'https://capital.sp.gov.br/web/mobilidade/w/institucional/sptrans/acesso_a_informacao/245234'

# Baixar o conteúdo da página
response = requests.get(url)

# Verificar se a requisição foi bem-sucedida
if response.status_code == 200:
    tabelas = pd.read_html(response.text, header=1)  # Define a segunda linha como cabeçalho

    # Dicionário para armazenar os DataFrames
    dfs = {}

    # Criar um DataFrame para cada tabela e armazenar no dicionário
    for i, tabela in enumerate(tabelas):
        nome_df = f'df{i+1}'
        dfs[nome_df] = tabela
else:
    print(f"Erro ao acessar a página: {response.status_code}")

Requirement already satisfied: pandas in c:\users\administrador\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\administrador\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrador\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrador\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrador\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\administrador\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^

Requirement already satisfied: lxml in c:\users\administrador\appdata\local\programs\python\python313\lib\site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting requests
  Downloading requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting charset-normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.4.0-cp313-cp313-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests)
  Downloading idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Downloading urllib3-2.2.3-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests)
  Downloading certifi-2024.8.30-py3-none-any.whl.metadata (2.2 kB)
Downloading requests-2.32.3-py3-none-any.whl (64 kB)
Downloading certifi-2024.8.30-py3-none-any.whl (167 kB)
Downloading charset_normalizer-3.4.0-cp313-cp313-win_amd64.whl (102 kB)
Downloading idna-3.10-py3-none-any.whl (70 kB)
Downloading urllib3-2.2.3-py3-none-any.whl (126 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2024.8.30 charset-normalizer-3.4.0 idna-3.10 requests-2.32.3 urllib3-2.2.3

C:\Users\Administrador\AppData\Local\Temp\ipykernel_4848\3029162374.py:19: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tabelas = pd.read_html(response.text, header=1)  # Define a segunda linha como cabeçalho

#### Como funciona cada coluna ?

## Descrição das Colunas

- **MÊS**: Número do mês (1 a 12).
- **Grupo Estrutural**: Numero de passageiros transportados em onibus do tipo de linha (ex: principal, alimentadora dos centros e afins).
- **Grupo Local de Articulação Regional**: Numero de passageiros transportados em linhas regionais
- **Grupo Local de Distribuição**: Numero de passageiros transportados em linhas regionais

- **Total**: Total de passageiros ou unidades transportadas.
- **particao**: Segmentação dos dados, geralmente por ano ou período.
- **Período**: Intervalo de tempo de coleta (ex: 2024).

In [6]:
for i in range(1, 13, 1):
  print('mundo')
  df = dfs[f'df{i}']
  if i == 1:
    valor = 2024
  else:
    valor = valor - 1
  df['particao'] = valor
  if i == 1:
    df_final = df.copy()
  else:
    # Renomeando e substituindo as colunas com os valores e apagando as antigas
    if 'Estrutural' in df.columns:
        df['Grupo Estrutural'] = df['Estrutural']
        df.drop(columns=['Estrutural'], inplace=True)

    if 'Local' in df.columns:
        df['Grupo Local de Articulação Regional'] = df['Local']
        df.drop(columns=['Local'], inplace=True)

    if 'Sistema' in df.columns:
        df['Total'] = df['Sistema']
        df.drop(columns=['Sistema'], inplace=True)

    if 'Subsistema Estrutural' in df.columns:
        df['Grupo Estrutural'] = df['Subsistema Estrutural']
        df.drop(columns=['Subsistema Estrutural'], inplace=True)

    if 'Subsistema Local' in df.columns:
        df['Grupo Local de Articulação Regional'] = df['Subsistema Local']
        df.drop(columns=['Subsistema Local'], inplace=True)
        # Adiciona o DataFrame na lista

          # Verifica se as colunas existem
        # Verifica se a coluna 'Grupo Local de Distribuição' existe
    if 'Grupo Local de Distribuição' in df.columns:
        print('entrou')
        # Substituindo valores ausentes (NaN) por 0, mas não mexendo em valores válidos
        df['Grupo Local de Distribuição'] = df['Grupo Local de Distribuição'].fillna(0)
        df['Grupo Local de Articulação Regional'] = df['Grupo Local de Articulação Regional'].fillna(0)


        # Removendo os pontos (separadores de milhar) e tratando o "-" como 0
        df['Grupo Local de Articulação Regional'] = df['Grupo Local de Articulação Regional'].replace({'.': '', '-': '0'}, regex=True)
        df['Grupo Local de Distribuição'] = df['Grupo Local de Distribuição'].replace({'.': '', '-': '0'}, regex=True)

        # Removendo a coluna 'Grupo Local de Distribuição' já que foi somada
        df.drop(columns=['Grupo Local de Distribuição'], inplace=True)


    # Decrementa o valor da partição
    valor -= 1
    df_final = pd.concat([df_final, df])

mundo
mundo
entrou
mundo
entrou
mundo
entrou
mundo
entrou
mundo
entrou
mundo
mundo
mundo
mundo
mundo
mundo

In [7]:
# Remove os pontos (separadores de milhar)
df_final['Grupo Local de Distribuição'] = df_final['Grupo Local de Distribuição'].str.replace('.', '', regex=False)
df_final['Grupo Local de Articulação Regional'] = df_final['Grupo Local de Articulação Regional'].str.replace('.', '', regex=False)
df_final['Total'] = df_final['Total'].str.replace('.', '', regex=False)
df_final['Grupo Estrutural'] = df_final['Grupo Estrutural'].str.replace('.', '', regex=False)
df_final['Grupo Estrutural'] = df_final['Grupo Estrutural'].str.replace('-', '', regex=False)




# Substitui valores ausentes (NaN) e strings vazias ('') por '0'
df_final['Grupo Local de Articulação Regional'] = df_final['Grupo Local de Articulação Regional'].fillna('0').replace('', '0')
df_final['Grupo Local de Distribuição'] = df_final['Grupo Local de Distribuição'].fillna('0').replace('', '0')
df_final['Grupo Estrutural'] = df_final['Grupo Estrutural'].fillna('0').replace('', '0')

# Tenta converter as colunas para tipo float
df_final['Grupo Local de Articulação Regional'] = pd.to_numeric(df_final['Grupo Local de Articulação Regional'], errors='coerce')
df_final['Grupo Local de Distribuição'] = pd.to_numeric(df_final['Grupo Local de Distribuição'], errors='coerce')

# Soma das colunas
df_final['Grupo Local de Articulação Regional'] = df_final['Grupo Local de Articulação Regional'] + df_final['Grupo Local de Distribuição']

# Remove a coluna 'Grupo Local de Distribuição' após a soma
df_final.drop(columns=['Grupo Local de Distribuição'], inplace=True)
df_final['Total'] = df_final['Total'].fillna('0').astype(int)
df_final['Grupo Estrutural'] = df_final['Grupo Estrutural'].fillna('0').astype(int)



# Exibe o DataFrame final
display(df_final)

,MÊS,Grupo Estrutural,Grupo Local de Articulação Regional,Total,particao,Período
0,Jan/24,52192455,105735318,157927773,2024,NaN
1,Fev/24,55127009,112459029,167586038,2024,NaN
2,Mar/24,59960019,122934281,182894300,2024,NaN
3,Abr/24,62076320,126957579,189033899,2024,NaN
4,Mai/24,60742151,124806116,185548267,2024,NaN
...,...,...,...,...,...,...
8,NaN,140055474,109239653,249295127,2003,Setembro
9,NaN,150181032,116184406,266365438,2003,Outubro
10,NaN,136361483,107257315,243618798,2003,Novembro
11,NaN,128767687,103745163,232512850,2003,Dezembro
12,NaN,1635183316,1289029149,2924212465,2003,Total

In [8]:
import pandas as pd
import numpy as np

# Dicionário de meses
meses = {
    'Jan': 'Janeiro', 'Fev': 'Fevereiro', 'Mar': 'Março', 'Abr': 'Abril', 
    'Mai': 'Maio', 'Jun': 'Junho', 'Jul': 'Julho', 'Ago': 'Agosto', 
    'Set': 'Setembro', 'Out': 'Outubro', 'Nov': 'Novembro', 'Dez': 'Dezembro'
}

df_final['sep'] = df_final['MÊS'].str.split('/').str[0]

display(df_final)

# Substituindo a abreviação pelo nome completo do mês
df_final['Período'] = np.where(df_final['sep'].isin(meses.keys()),
                           df_final['sep'].map(meses),
                           df_final['Período'])

# Exibindo o resultado
display(df_final)

,MÊS,Grupo Estrutural,Grupo Local de Articulação Regional,Total,particao,Período,sep
0,Jan/24,52192455,105735318,157927773,2024,NaN,Jan
1,Fev/24,55127009,112459029,167586038,2024,NaN,Fev
2,Mar/24,59960019,122934281,182894300,2024,NaN,Mar
3,Abr/24,62076320,126957579,189033899,2024,NaN,Abr
4,Mai/24,60742151,124806116,185548267,2024,NaN,Mai
...,...,...,...,...,...,...,...
8,NaN,140055474,109239653,249295127,2003,Setembro,NaN
9,NaN,150181032,116184406,266365438,2003,Outubro,NaN
10,NaN,136361483,107257315,243618798,2003,Novembro,NaN
11,NaN,128767687,103745163,232512850,2003,Dezembro,NaN
12,NaN,1635183316,1289029149,2924212465,2003,Total,NaN

,MÊS,Grupo Estrutural,Grupo Local de Articulação Regional,Total,particao,Período,sep
0,Jan/24,52192455,105735318,157927773,2024,Janeiro,Jan
1,Fev/24,55127009,112459029,167586038,2024,Fevereiro,Fev
2,Mar/24,59960019,122934281,182894300,2024,Março,Mar
3,Abr/24,62076320,126957579,189033899,2024,Abril,Abr
4,Mai/24,60742151,124806116,185548267,2024,Maio,Mai
...,...,...,...,...,...,...,...
8,NaN,140055474,109239653,249295127,2003,Setembro,NaN
9,NaN,150181032,116184406,266365438,2003,Outubro,NaN
10,NaN,136361483,107257315,243618798,2003,Novembro,NaN
11,NaN,128767687,103745163,232512850,2003,Dezembro,NaN
12,NaN,1635183316,1289029149,2924212465,2003,Total,NaN

In [9]:
# Criando uma nova coluna com as três primeiras letras da coluna 'MÊS'
df_final['MÊS_abrev'] = df_final['Período'].str.slice(0, 3)

df_final['MÊS'] = df_final['MÊS_abrev'].astype(str) + '/' + df_final['particao'].astype(str)
display(df_final)

df_final.drop(columns=['sep'], inplace=True)

,MÊS,Grupo Estrutural,Grupo Local de Articulação Regional,Total,particao,Período,sep,MÊS_abrev
0,Jan/2024,52192455,105735318,157927773,2024,Janeiro,Jan,Jan
1,Fev/2024,55127009,112459029,167586038,2024,Fevereiro,Fev,Fev
2,Mar/2024,59960019,122934281,182894300,2024,Março,Mar,Mar
3,Abr/2024,62076320,126957579,189033899,2024,Abril,Abr,Abr
4,Mai/2024,60742151,124806116,185548267,2024,Maio,Mai,Mai
...,...,...,...,...,...,...,...,...
8,Set/2003,140055474,109239653,249295127,2003,Setembro,NaN,Set
9,Out/2003,150181032,116184406,266365438,2003,Outubro,NaN,Out
10,Nov/2003,136361483,107257315,243618798,2003,Novembro,NaN,Nov
11,Dez/2003,128767687,103745163,232512850,2003,Dezembro,NaN,Dez
12,Tot/2003,1635183316,1289029149,2924212465,2003,Total,NaN,Tot

In [10]:
df_final

,MÊS,Grupo Estrutural,Grupo Local de Articulação Regional,Total,particao,Período,MÊS_abrev
0,Jan/2024,52192455,105735318,157927773,2024,Janeiro,Jan
1,Fev/2024,55127009,112459029,167586038,2024,Fevereiro,Fev
2,Mar/2024,59960019,122934281,182894300,2024,Março,Mar
3,Abr/2024,62076320,126957579,189033899,2024,Abril,Abr
4,Mai/2024,60742151,124806116,185548267,2024,Maio,Mai
...,...,...,...,...,...,...,...
8,Set/2003,140055474,109239653,249295127,2003,Setembro,Set
9,Out/2003,150181032,116184406,266365438,2003,Outubro,Out
10,Nov/2003,136361483,107257315,243618798,2003,Novembro,Nov
11,Dez/2003,128767687,103745163,232512850,2003,Dezembro,Dez
12,Tot/2003,1635183316,1289029149,2924212465,2003,Total,Tot